[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/luajit"]
	path = libs/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/luajit"]
	path = lib/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "lib/glslang"]
	path = lib/glslang
	url = https://github.com/KhronosGroup/glslang.git
